.site-title{
    font-size: 8em;
    background-color: green;
    text-align: center;
}

.site-title a{
    color: rgb(255, 255, 255) !important; 
}

.menu ul{
    padding-right: 5em;
    display: inline-block;
    float: right;
}

.menu li{
    padding-top: 5em;
}

.menu a{
    font-size: 2em;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}